{:source-paths ["src"]
 :dependencies [[com.7theta/utilis "1.15.0"]]
 :builds {:main {:target :node-script
                 :output-to "main.js"
                 :main electron-shell.core/main
                 :compiler-options {:optimizations :advanced
                                    :infer-externs :auto}}}}
